{% extends 'Partials/base.html.twig' %}

{% block content %}
    <p>Create page here</p>
    <form method="post" action="/tasks"></form>
    <input type="submit">
    <div> {{ errors }}</div>
{% endblock %}